# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env

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